[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
psycopg2_binary = "*"
flask_sqlalchemy = "*"
flask_migrate = "*"
sqlalchemy_serializer = "*"
flask_restful = "*"
flask_cors = "*"
python_dotenv = "0.21.0"
honcho = "*"

[dev-packages]

[requires]
python_version = "3.8"
